{% extends 'base.html.twig' %}

{% block title %}Ajout{% endblock %}

{% block body %}
    {{ include('sweatshirts/_form.html.twig') }}

    <a href="{{ path('app_sweatshirts_index') }}">Retour à la liste</a>
{% endblock %}
