{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <section class="home">
        {% for sweatshirt in highlightedSweatshirts %}
            {% set imageMap = {
                1: 'black.jpeg',
                4: 'tricolor.jpeg',
                9: 'us.jpeg'
            } %}
            {% set image = imageMap[sweatshirt.id] %}
            <div class="highlight">
                <img class="home-img" src="{{ asset('images/' ~ image) }}">
                <div class="home-content">
                    <div class="home-description">
                        <p>Nom: {{ sweatshirt.name }}</p>
                        <p>Prix: {{ sweatshirt.price }} €</p>
                    </div>
                    {% if app.user %}
                        <div class="home-btn-container">
                            <button class="home-btn" onclick="window.location.href='{{ path('app_product', { 'id': sweatshirt.id }) }}'">VOIR</button>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
