{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <section class="home">
        <div class="highlight">
            <img class="home-img" src={{asset('images/black.jpeg')}}>
            <p>Nom</p>
            <p>Prix</p>
        </div>

        <div class="highlight">
            <img class="home-img" src={{asset('images/tricolor.jpeg')}}>
            <p>Nom</p>
            <p>Prix</p>
        </div>

        <div class="highlight">
            <img class="home-img" src={{asset('images/us.jpeg')}}>
            <p>Nom</p>
            <p>Prix</p>
        </div>
    </section>
{% endblock %}
